// A placeholder file for custom styles
// these styles will be imported into the #page scope 
:root{
   //todo - setup vue material theme variables
}
h1,
h2,
h3,
h4,
h5,
h6 {
   color: #ff6600;
   font-weight: 300;
}