@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(fonts/material-icons.woff2) format('woff2');
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 100;
   src: url(fonts/Roboto-Thin.woff2) format('woff2');
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: url(fonts/Roboto-Regular.woff2) format('woff2');
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: url(fonts/Roboto-Medium.woff2) format('woff2');
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: url(fonts/Roboto-Bold.woff2) format('woff2');
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   src: url(fonts/Roboto-Black.woff2) format('woff2');
}

.material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   font-feature-settings: "liga";
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
}