// basic typography 
// list of the basic text elements to apply paragraph level font size to
$textElements: p,
li,
a,
th,
td,
dd;
& {
   max-width: 35em;
   margin: auto;
   font-size: 1rem;
   line-height: 1.25;
   letter-spacing: 0;
   word-spacing: 0;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
}

p {
   hyphens: auto;
   margin-top: 0;
   margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-align: left;
   line-height: 1;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

// Font Sizes
h1 {
   font-size: 3.815rem;
}

h2 {
   font-size: 3.052rem;
}

h3 {
   font-size: 2.441rem;
}

h4 {
   font-size: 1.953rem;
}

h5 {
   font-size: 1.563rem;
}

h6 {
   font-size: 1.25rem;
}

#{$textElements} {
   font-size: 1rem;
}

small {
   font-size: 0.8rem;
}

// callouts
article,
aside {
   font-size: 0.8rem;
   margin-left: 1em;
   margin-right: 1em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   font-weight: 300;
   font-size: 0.8rem;
   line-height: 1.5625;
   #{$textElements} {
      font-size: 0.8rem;
   }
   h1 {
      font-size: 3.052rem;
   }
   h2 {
      font-size: 2.441rem;
   }
   h3 {
      font-size: 1.953rem;
   }
   h4 {
      font-size: 1.563rem;
   }
   h5 {
      font-size: 1.25rem;
   }
   h6 {
      font-size: 1rem;
   }
}

@media screen and (min-width: 49em) {
   /* breakpoint for text intrusion sidebars */
   aside.left {
      width: 11.5em;
      float: left;
      margin-left: -7em;
   }
   aside.right {
      width: 11.5em;
      float: right;
      margin-right: -7em;
   }
}

@media screen and (min-width: 60em) {
   h1 {
      font-size: 4.292rem;
   }
   h2 {
      font-size: 3.433rem;
   }
   h3 {
      font-size: 2.747rem;
   }
   h4 {
      font-size: 2.197rem;
   }
   h5 {
      font-size: 1.758rem;
   }
   h6 {
      font-size: 1.406rem;
   }
   #{$textElements} {
      font-size: 1.125rem;
   }
   small {
      font-size: 0.9rem;
   }
   aside.left {
      width: 11.5em;
      float: left;
      margin-left: -12.5em;
   }
   aside.right {
      width: 11.5em;
      float: right;
      margin-right: -12.5em;
   }
   article.left {
      width: 23em;
      float: left;
      margin-left: -12.5em;
   }
   article.right {
      width: 23em;
      float: right;
      margin-right: -12.5em;
   }
   aside,
   article {
      font-size: .9rem;
      #{$textElements} {
         font-size: 0.9rem;
      }
      h1 {
         font-size: 3.433rem;
      }
      h2 {
         font-size: 2.747rem;
      }
      h3 {
         font-size: 2.197rem;
      }
      h4 {
         font-size: 1.758rem;
      }
      h5 {
         font-size: 1.406rem;
      }
      h6 {
         font-size: 1.125rem;
      }
   }
}

@media screen and (min-width: 90em) {
   & {
      max-width: 36em;
   }
   aside.left {
      width: 15em;
      float: left;
      margin-left: -16em;
   }
   aside.right {
      width: 15em;
      float: right;
      margin-right: -16em;
   }
   article.left {
      width: 30em;
      float: left;
      margin-left: -27em;
   }
   article.right {
      width: 30em;
      float: right;
      margin-right: -27em;
   }
}

@media screen and (min-width: 120em) {
   h1 {
      font-size: 5.009rem;
   }
   h2 {
      font-size: 4.007rem;
   }
   h3 {
      font-size: 3.206rem;
   }
   h4 {
      font-size: 2.564rem;
   }
   h5 {
      font-size: 2.052rem;
   }
   h6 {
      font-size: 1.641rem;
   }
   #{$textElements} {
      font-size: 1.3125rem;
   }
   small {
      font-size: 1.05rem;
   }
   & {
      max-width: 38em;
   }
   aside.left {
      float: left;
      width: 20em;
      margin-left: -21em;
   }
   aside.right {
      width: 20em;
      float: right;
      margin-right: -21em;
   }
   article.left {
      width: 30em;
      float: left;
      margin-left: -31em;
   }
   article.right {
      width: 30em;
      float: right;
      margin-right: -31em;
   }
   aside,
   article {
      font-size: 1.05rem;
      #{$textElements} {
         font-size: 1.05rem;
      }
      h1 {
         font-size: 4.007rem;
      }
      h2 {
         font-size: 3.206rem;
      }
      h3 {
         font-size: 2.564rem;
      }
      h4 {
         font-size: 2.052rem;
      }
      h5 {
         font-size: 1.641rem;
      }
      h6 {
         font-size: 1.313rem;
      }
   }
}